# For memory attribute type, find MdePkg/Include/Uefi/UefiSpec.h
# for full list of memory attribute values under EFI_MEMORY_*.

[[rule]]
symbol = "gcSmiInitGdtr"
field = "Base"
validation.type = "self"
validation.reference = "NullSeg"

[[rule]]
symbol = "gcSmiInitGdtr"
field = "Limit"
validation.type = "non zero"

[[rule]]
symbol = "gPatchSmmCr3"
validation.type = "non zero"
offset = -4
size = 4

[[rule]]
symbol = "gPatchSmmCr4"
validation.type = "content"
validation.content = [0x60, 0x06, 0x00, 0x00]
offset = -4
size = 4

[[rule]]
symbol = "gPatchSmmCr0"
validation.type = "content"
validation.content = [0x33, 0x00, 0x00, 0x80]
offset = -4
size = 4

[[rule]]
symbol = "@PatchLongModeOffset"
validation.reference = "@LongMode"
validation.type = "self"
offset = -6
size = 4

[[rule]]
# TODO: mem attr
symbol = "gPatchSmmInitStack"
validation.type = "mem attr"
offset = -8
size = 8
# This is a minimal value, but an IDT really should not exceed 4k
validation.memory_size = 0x1000
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "@L1"
validation.type = "self"
validation.reference = "SmmStartup"
size = 8

[[rule]]
symbol = "gPatchRebasedFlagAddr32"
validation.type = "non zero"
offset = -4
size = 4

[[rule]]
symbol = "gPatchSmmRelocationOriginalAddressPtr32"
validation.type = "self"
validation.reference = "mSmmRelocationOriginalAddress"
offset = -4
size = 4

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "gPatchSmbase"
validation.type = "non zero"
offset = -4
size = 4

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "gPatchSmiStack"
validation.type = "non zero"
offset = -4
size = 4

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "gPatchSmiCr3"
validation.type = "non zero"
offset = -4
size = 4

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "gPatchMsrIa32MiscEnableSupported"
validation.type = "content"
validation.content = [0x0]
offset = -1
size = 1

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "SmiHandlerIdtrAbsAddr"
validation.type = "self"
validation.reference = "gSmiHandlerIdtr"
size = 8
offset = -8

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "mPatchCetSupported"
validation.type = "content"
validation.content = [0x00]
offset = -1
size = 1

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "CpuSmmDebugEntryAbsAddr"
validation.type = "self"
validation.reference = "CpuSmmDebugEntry"
size = 8
offset = -8

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "SmiRendezvousAbsAddr"
validation.type = "self"
validation.reference = "SmiRendezvous"
size = 8
offset = -8

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "CpuSmmDebugExitAbsAddr"
validation.type = "self"
validation.reference = "CpuSmmDebugExit"
size = 8
offset = -8

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "mCetSupportedAbsAddr"
validation.type = "self"
validation.reference = "mCetSupported"
size = 8
offset = -8

[[rule]]
# TODO: Remove with correct cpu feature library
symbol = "mXdSupportedAbsAddr"
validation.type = "self"
validation.reference = "mXdSupported"
size = 8
offset = -8

[[rule]]
symbol = "gcSmiIdtr"
size = 4
validation.type = "mem attr"
# This is an empirical value, but an IDT really should not exceed 4k
validation.memory_size = 0x1000
validation.must_have = 0x60000
validation.must_not_have = 0x2000

[[rule]]
symbol = "gcSmiIdtr"
offset = 4
size = 2
validation.type = "non zero"

[[rule]]
symbol = "__security_cookie"
validation.type = "non zero"

[[rule]]
symbol = "gMmCoreMmst"
field = "MmStartupThisAp"
validation.type = "self"
validation.reference = "SmmStartupThisAp"

[[rule]]
symbol = "gMmCoreMmst"
field = "CurrentlyExecutingCpu"
validation.type = "none"

[[rule]]
symbol = "gMmCoreMmst"
field = "NumberOfCpus"
validation.type = "non zero"

[[rule]]
symbol = "gMmCoreMmst"
field = "CpuSaveStateSize"
validation.type = "mem attr"
# This is an empirical value, this at least should be 8 for only 1 core
validation.memory_size = 0x08
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "gMmCoreMmst"
field = "CpuSaveState"
validation.type = "mem attr"
# This is an empirical value, this is at least should be 8 for only 1 core
validation.memory_size = 0x08
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "gMmCoreMmst"
field = "MmConfigurationTable"
validation.type = "mem attr"
# This is a minimal value, this is at least EFI_CONFIGURATION_TABLE
validation.memory_size = 0x18
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "gMmCoreMmst"
field = "NumberOfTableEntries"
validation.type = "non zero"

[[rule]]
symbol = "mFirstMmi"
validation.type = "content"
validation.content = [0x00]

# TODO: Need to handle this one better
[[rule]]
symbol = "mMmCoreMmiHandlers"
validation.type = "none"
size = 128

[[rule]]
symbol = "mNumberOfCpus"
validation.type = "non zero"

[[rule]]
symbol = "mSmmRebootOnException"
validation.type = "none"

[[rule]]
symbol = "mCpuHotPlugData"
field = "ArrayLength"
validation.type = "non zero"

[[rule]]
symbol = "mCpuHotPlugData"
field = "ApicId"
validation.type = "non zero"

[[rule]]
symbol = "mCpuHotPlugData"
field = "SmBase"
validation.type = "non zero"

[[rule]]
symbol = "mCpuHotPlugData"
field = "SmrrBase"
validation.type = "non zero"

[[rule]]
symbol = "mCpuHotPlugData"
field = "SmrrSize"
validation.type = "non zero"

[[rule]]
symbol = "mMaxNumberOfCpus"
validation.type = "non zero"

[[rule]]
symbol = "mCetSupported"
validation.type = "content"
validation.content = [0x00]

# TODO: need to handle these linked lists better
[[rule]]
symbol = "mFreeMemoryMapEntryList"
validation.type = "none"

[[rule]]
symbol = "mMmMemoryMap"
validation.type = "none"

[[rule]]
symbol = "gMemoryMap"
validation.type = "none"

[[rule]]
symbol = "gHandleList"
validation.type = "none"

[[rule]]
symbol = "mProtocolDatabase"
validation.type = "none"

[[rule]]
symbol = "mMmiEntryList"
validation.type = "none"

[[rule]]
symbol = "mFwVolList"
validation.type = "none"

[[rule]]
symbol = "mDiscoveredList"
validation.type = "none"

[[rule]]
symbol = "mMapLevel"
validation.type = "none"

[[rule]]
symbol = "mUnblockedMemoryList"
validation.type = "none"

[[rule]]
# TODO: This should be removed and replaced with the sub-field validation
symbol = "mSmmCpuPrivateData"
validation.type = "none"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "SmmCpuHandle"
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "SmmCoreEntry"
# validation.type = "self"
# validation.reference = "MmEntryPoint"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "ProcessorInfo"
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "Operation"
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "CpuSaveStateSize"
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "CpuSaveState"
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "ApWrapperFunc"
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "TokenList"
# size = 16
# validation.type = "non zero"

# [[rule]]
# symbol = "mSmmCpuPrivateData"
# field = "FirstFreeToken"
# validation.type = "non zero"

[[rule]]
symbol = "mPagingMode"
validation.type = "content"
validation.content = [0x03, 0x04, 0x00, 0x00]

[[rule]]
symbol = "mImagePropertiesPrivateData"
field = "ImageRecordCount"
validation.type = "non zero"

[[rule]]
symbol = "mImagePropertiesPrivateData"
field = "CodeSegmentCountMax"
validation.type = "non zero"

[[rule]]
symbol = "mImagePropertiesPrivateData"
field = "ImageRecordList"
size = 16
validation.type = "non zero"

[[rule]]
symbol = "mExceptionHandlerData"
field = "DisplayMessageSpinLock"
validation.type = "non zero"

[[rule]]
symbol = "gHobList"
validation.type = "mem attr"
validation.memory_size = 0x10000
validation.must_have = 0x2000
validation.must_not_have = 0x0

[[rule]]
symbol = "gMmCoreMailbox"
validation.type = "mem attr"
validation.memory_size = 0x1000
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mCoreInitializationComplete"
validation.type = "content"
validation.content = [0x01]

[[rule]]
symbol = "mMmReadyToLockDone"
validation.type = "content"
validation.content = [0x01]

[[rule]]
symbol = "SupervisorToUserDataBuffer"
validation.type = "mem attr"
validation.memory_size = 0x1000
validation.must_have = 0x4000
validation.must_not_have = 0x62000

[[rule]]
symbol = "mConfigSmmCodeAccessCheckLock"
validation.type = "non zero"

[[rule]]
symbol = "mMsrStarStore"
validation.type = "mem attr"
# This is a minimal value, this is at least should be 8 for only 1 core
validation.memory_size = 0x08
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mMsrStar64Store"
validation.type = "mem attr"
# This is a minimal value, this is at least should be 8 for only 1 core
validation.memory_size = 0x08
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mMsrEferStore"
validation.type = "mem attr"
# This is a minimal value, this is at least should be 8 for only 1 core
validation.memory_size = 0x08
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mCpuToken"
validation.type = "non zero"

[[rule]]
symbol = "mMmSupvGsStore"
validation.type = "mem attr"
# This is a minimal value, this is at least should be 8 for only 1 core
validation.memory_size = 0x32
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mCpuExceptionCountBuffer"
validation.type = "mem attr"
# This is a minimal value, this is at least should be 1 for only 1 core
validation.memory_size = 0x01
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mCpuExceptionToken"
validation.type = "mem attr"
# This is a minimal value, this is at least should be 1 for only 1 core
validation.memory_size = 0x01
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "gMmUserMmst"
validation.type = "mem attr"
validation.memory_size = 0x1000
validation.must_have = 0x4000
validation.must_not_have = 0x62000

[[rule]]
symbol = "gMmCorePrivate"
validation.type = "mem attr"
validation.memory_size = 0x1000
validation.must_have = 0x44000
validation.must_not_have = 0x22000

[[rule]]
symbol = "mEfiLocateHandleRequest"
validation.type = "non zero"

[[rule]]
symbol = "RegErrorReportJumpPointer"
validation.type = "mem attr"
validation.memory_size = 0x08
validation.must_have = 0x20000
validation.must_not_have = 0x66000

[[rule]]
symbol = "RegisteredRing3JumpPointer"
validation.type = "mem attr"
validation.memory_size = 0x08
validation.must_have = 0x20000
validation.must_not_have = 0x66000

[[rule]]
symbol = "RegApRing3JumpPointer"
validation.type = "mem attr"
validation.memory_size = 0x08
validation.must_have = 0x20000
validation.must_not_have = 0x66000
